*.d
*.o
*.a
*~
src/*.csv
src/*.log
tags
src/cuda_correlator
src/libxgpu.so
src/xgpuinfo
src/xgpu_version.h
src/Makefile.local
bifrost/bxgpu.py
bifrost/bxgpu_generated.py
bifrost/libbxgpu.so
bifrost/libxgpu.so
